<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Storage Ejemplo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
    <ion-label position="floating">Edad</ion-label>
    <ion-input [(ngModel)]="edad"></ion-input>
    <ion-label position="floating">Ciudad</ion-label>
    <ion-input [(ngModel)]="ciudad"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="save()">Guardar Nombre</ion-button>
  <ion-button expand="full" (click)="load()">Cargar Nombre</ion-button>

  <p *ngIf="nombre && edad && ciudad">
    <br>Nombre guardado: {{nombre}}
    <br>Edad guardada: {{edad}}
    <br>Ciudad guardada: {{ciudad}}
  </p>
</ion-content>
